@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-close {
  -webkit-animation: modal-ease-in 1.5s linear;
  animation: modal-ease-in 1.5s linear;
}

@-webkit-keyframes modal-ease-in {
  0% {
    transform: "opacity-100";
  }
  100% {
    transform: "opacity-0";
  }
}

@keyframes modal-ease-in {
  0% {
    transform: "opacity-100";
  }
  100% {
    transform: "opacity-0";
  }
}
